body{ font-family: sans-serif; line-height: 1.6;
    font-size: 100%;
    text-align: center;
    display: block;
    color : black;
    background-color: #afd8e5;
    background-image: url("backimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

#body{
  display: block;
}

/* div logorsign */
.logorsign {
  float: left;
  overflow-x: hidden; 

  padding: 3%;
  margin-left: 5%;
  margin-top: 1%;
 
  border-style: outset;
  border-radius: 4%;
  border-right-color: #40a1bf;
  border-bottom-color: #40a1bf;
  background-color: #d1e8f0;

  width: 20%;
  height: 100%;
  font-size: 80%;
}
.logorsign label {
  float: none;
  display: block;
  text-align: left;

  color:black;
  background-color: #40a1bf;
  border-radius: 5%;  
}
.logorsign label:hover { 
  background-color: #40a1bf; 
  color:black; 
}
.logorsign input { 
  float:left; 
  padding: 10%;
  margin: 5%;
  width: 50%; 
  height: 20%;
  border-style: outset;
}
.logorsign input[type=submit]{
  color: black;
  margin: 5%;
  border: outset;
  border-radius: 5%; 
  cursor: pointer;
  width: 50%;
  height: 20%;
  float: center;
}
.logorsign div{
  float: left;
}


/* div logorsign --> login & signup*/
.login { 
  float: left; 
  overflow: visible; 
  padding-right: 5%;
  width: 80%;
}
.signup { 
  float: left; 
  overflow: visible;
  padding-top: 10%;
  width: 80%;
}

/* div logorsign --> login & signup --> log-content */
.login .log-content {
  display: none;
  overflow: visible;
  padding: 10%;
  z-index: 1;
}

.signup .log-content{
  display: none;
  position: relative;
  overflow: visible;
  padding: 10%;
  z-index: 1; 
}
.login:hover .log-content { display: block;}
.signup:hover .log-content { display: block;}



/* div main */
.main { margin-right: 10%; }
h2 {  
  background-color: #40a1bf; 
  color:black;
  border-radius: 5%;
}
/* div main --> posti */
.posti {display: block; float: left; padding-left: 10%; }
.posti form {
  display: block;
  margin-left: auto; 
  margin-right: auto; 
  background-color: #d1e8f0; 
  border-style: outset;
  border-radius: 3%;
  border-right-color: #40a1bf;
  border-bottom-color: #40a1bf;
  width: 100%;
  text-align: center;
  padding: 5%;
} 
.posti input[type=checkbox]{
  display: none;
}
.posti input[type=checkbox]+label{
  display: inline-block;
  border-style: outset;
  border-radius: 10%;
  width: 100%;
  cursor: pointer;
}

/* div main --> infor */
.info {display: block; float: right; }
input{ width: 95%;}
.table-info{
  margin-left: auto; 
  margin-right: auto; 
  background-color: #d1e8f0; 
  border-style: outset;
  border-radius: 5%;
  border-right-color: #40a1bf;
  border-bottom-color: #40a1bf;
  width: 100%;
  padding: 5%;
} 

/* css for the different checkboxes */
label { cursor: pointer;}
.free {color: green;}
.free:hover { color: floralwhite; background-color: green;}
.occupied { color: black; background-color: orange;}
.booked { color: floralwhite; background-color: red;}
.occupieduser { color: black; background-color: gold;}



/*if the screen is <600px */
@media only screen and (max-width: 600px) {
  .logorsign { float: none; clear: both; width: 40%; margin:10%;}
  .main { float: none; clear: both; width: 100%; margin: auto;}
  .info  { float: none; clear: both; width: 40%; margin: 10%; padding-top: 5%;}
}