body{ font-family: sans-serif; line-height: 1.6;
    font-size: 100%;
    text-align: center;
    display: block;
    color : black;
    background-color: #afd8e5;
  }

.logorsign {
  overflow-x: hidden; 
  margin-left: 5%;
  margin-top: 1%;
  float: left;
  border-style: outset;
  border-radius: 4%;
  border-right-color: #40a1bf;
  border-bottom-color: #40a1bf;
  background-color: #d1e8f0;
  transition: 0.4s;
  width: 25%;
  font-size: 80%;
  padding: 3%;
}

.login { 
  float: left; 
  overflow: visible; 
  padding-right: 5%;
  width: 80%;
}
.signup { 
  float: left; 
  overflow: visible;
  padding-top: 10%;
  width: 80%;
}
.logorsign label {
  float: none;
  background-color: #40a1bf;
  border-radius: 5%;
  color:black;
  text-decoration: none;
  display: block;
  text-align: left;
}
.logorsign label:hover { 
  background-color: #40a1bf; 
  color:black; 

}
.login .log-content {
  display: none;
  overflow: visible;
  padding: 10%;
  z-index: 1;
}

.signup .log-content{
  display: none;
  position: relative;
  overflow: visible;
  padding: 10%;
  z-index: 1; 
}
.login:hover .log-content { display: block;}
.signup:hover .log-content { display: block;}

.logorsign input { 
  float:left; 
  padding: 10%;
  margin: 5%;
  width: 50%; 

  border-style: outset;
}
.logorsign input[type=submit]{
color: black;
margin: 5%;
border: outset;
cursor: pointer;
}

.main { margin-right: 10%; }
h2 {  
  background-color: #40a1bf; 
  color:black;
  border-radius: 5%;
}
.posti {display: block; float: left; padding-left: 10%; }
.info {display: block; float: right; }
input{ width: 95%;}
.posti form {
  display: block;
  margin-left: auto; 
  margin-right: auto; 
  background-color: #d1e8f0; 
  border-style: outset;
  border-radius: 3%;
  border-right-color: #40a1bf;
  border-bottom-color: #40a1bf;
  width: 95%;
  text-align: center;
  padding: 5%;
} 
.posti input[type=button]{
  border-style: outset;
  border-radius: 2%;
}
.table-info{
  margin-left: auto; 
  margin-right: auto; 
  background-color: #d1e8f0; 
  border-style: outset;
  border-radius: 5%;
  border-right-color: #40a1bf;
  border-bottom-color: #40a1bf;
  width: 100%;
  padding: 5%;
} 


label { cursor: pointer;}
.free {color: green;}
.free:hover { color: floralwhite; background-color: green;}
.occupied { color: floralwhite; background-color: orange;}
.booked { color: floralwhite; background-color: red;}
.occupieduser { color: black; background-color: gold;}


@media only screen and (max-width: 600px) {
  .logorsign { float: none; clear: both; width: 40%; margin:10%;}
  .main { float: none; clear: both; width: 100%; margin: auto;}
  .info  { float: none; clear: both; width: 40%; margin: 10%; padding-top: 5%;}
}